@using ModelYapisi.Models 
@model Kisi
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <b> Ad :</b>@Model.Ad<br/>
    <b> SoyAd : </b>@Model.Soyad<br/>
    <b> Yaş : </b>@Model.Yas

</div>
<hr/>
<div>
    @using (Html.BeginForm())
    {
        //not verileri formdan alırken model yapısı kullanılıyorsa for ile biten yardımcı methodalar kullanılmalıdır
        <b> Ad  :</b>@Html.TextBoxFor(p => p.Ad)<br />
        <b> SoyAd  : </b>@Html.TextBoxFor(p => p.Soyad)<br />
        <b> Yaş : </b>@Html.TextBoxFor(p=>p.Yas)<br/>

        <input type="submit" value="Gönder"/>
    }
</div>
</body>
</html>
